/* h1{
    font-family: cursive;
    font-size: 158px;
}
p{
    font-size: 32px;
    text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase;
    font-weight:900 ; 
    100-900
    font-weight: bold;
    font-weight: bolder;
    font-family: cursive;
} */

.yt{
    color: red;
    font-size: 55px;
    text-decoration: none;
}
.yt:hover{
    color: rgb(0, 34, 255);
}
.github{
    color: black;
    font-size: 55px;
    text-decoration: none;
}
.github:hover{
    color: rgb(255, 230, 0);
}
.fb{
    color: blue;
    font-size: 55px;
    text-decoration: none;
}