/* .box{
    height: 200px;
    width: 200px;
    background: red;
   
    z-index: 1;
}
.box1{
    height: 100px;
    width: 300px;
    background: aqua;
    position: relative;
    z-index: -1;
} */

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b0b0b0;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    /* border-right: 2px solid white; */
}
a:hover{
    background-color: #bf6767;
}