/* .box{
    height: 150px;
    width: 150px;
    border: 2px solid red;
    float: right;
    float: left ;
   
} */
/* ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b0b0b0;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
 
}
a:hover{
    background-color: #bf6767;
}
.right{
    float: right;
} */
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #b0b0b0;
    width: 4%;
    position: fixed;
    height: 100%;
}
li{
    /* display: inline-block; */
}
.link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 16px;
    padding-right: 16px;
    /* border-right: 2px solid white; */
    /* text-align: center; */
}
.link:hover{
    color: black;
    background-color: #bf6767;
}
.content{
    margin-left:6% ;
    margin-right: 2%;
}
h1{
    text-align: justify;
}
.test{
    text-decoration:none;
    color: black;
}